.card{
    border-color: grey;
    width: 80rem;
}
.header{
    background-color: rgb(246, 237, 237);
}
button{
    float: right;
    margin-top: 5px;
    margin-left: 5px;  
    margin-bottom: 10px;
    margin-right: 5px;
}
.footer{
    background-color: grey;
}
img{
    height: 90px;
    width: 300px;
}
.message{
    padding-right: 15px;
}