.card{
    border-color: grey;
    width: 80rem;
    margin: auto;
}
.header{
    background-color: rgb(246, 237, 237);
}
button{
    float: right;
    margin-top: 5px;
    margin-left: 5px;  
    margin-bottom: 10px;
    margin-right: 5px;
}
.form-label{
    float: left;
}
.footer{
    background-color: rgb(246, 237, 237);
    padding-top: 15px;
}
p{
    font-size: small;
}
.row{
    padding-top: 10px;
}